# PIQI Environment Variables
PIQI_ENVIRONMENT_NAME=ReferenceApp
PIQI_ENGINE_PORT=8080
PIQI_DB_TYPE=PostgreSQL

#Postgres Environment Variables
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydb
DB_PORT=5432

#PGAdmin Environment Variables
PGADMIN_DEFAULT_EMAIL=admin@me.com
PGADMIN_DEFAULT_PASSWORD=adminpassword